[submodule "core/apps/joy"]
	path = core/apps/joy
	url = https://github.com/williamsharkey/fs-joy
[submodule "core/apps/windchime-dad"]
	path = core/apps/windchime-dad
	url = https://github.com/williamsharkey/fs-windchime-dad
[submodule "core/apps/simpwave"]
	path = core/apps/simpwave
	url = https://github.com/williamsharkey/fs-simpwave
[submodule "core/apps/ivory"]
	path = core/apps/ivory
	url = https://github.com/williamsharkey/fs-ivory
